.red-line{
    left: 10.8%;
    position: absolute;
    animation: left-to-right 2s infinite ease-in-out;
}

@keyframes left-to-right {
    0%, 100%{
        left: 10.8%;
    }
    50%{
        left: 27.7%;
    }
}